:root{
    --text: #dae0f6;
    --background: #42b6fe;
    --background_card: #ffffff;
    --blue: #0046dd;
    --yelow: #f6d51c;
    --naranja: #f9903a;
}
body{
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
} 
label{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 320px;
    height: 500px;
    cursor: pointer;
} 
.card{
    border: solid 18px var(--yelow);
    border-radius: 8px;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    user-select: none;
}
.card div{
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--background_card);
    text-align: center;
    line-height: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
} 
.card .back{
    background: var(--background_card);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
  label:hover .card{
    -webkit-transform: rotateY(10deg);
    transform: rotateY(10deg);
    box-shadow: 0 20px 20px rgba(50, 50, 50, 0.537);
}
  input{
    display: none;
}
  :checked + .card{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
} 
  label:hover :checked + .card{
    transform: rotateY(160deg);
    -webkit-transform: rotateY(160deg);
    box-shadow: 0 20px 20px rgba(50, 50, 50, 0.537);
} 
  .back img{
    height: 50px;
}
  .back img:hover{
    transform: scale(1.1);
}
  .front img{
    height: 2px;
}