.proyectos{
    color: aliceblue;
}
.habilidades{
    color: aliceblue;
}
.contacto{
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 500px;
    padding: 50px;
    background-color: #0074bd;
    border: solid #000000;
    border-radius: 8px;
}
footer{
    margin-top: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.full-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; /* Puedes ajustar esto según tus preferencias */
}
/* Estilos para el botón de desplazamiento */
.scroll-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 15px;
}

.scroll-button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse por encima */
}
